/* Hero.css */
.hero {
  width: 100%;
  min-height: 800px;
  background: url("../../assets/hero1.webp");
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 606px;
  height: 415px;
  margin: 30px auto;
  position: relative;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

@media (max-width: 768px) {
  .form-container {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  .form-group {
    height: auto;
    max-width: 700px;
  }
  .form-group textarea {
    height: auto;
  }
  .hero-text h1 {
    color: #ffffff !important;
  }
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #4e5357;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  height: 51px;
  font-size: 15px;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.btn-contact {
  background: #ed8258;
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 51px;
}

.btn-contact:hover {
  background: #000000;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
  color: #000000;
}

.hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

input::placeholder,
textarea::placeholder {
  color: #a7aaac;
}

/* Animación slideUp */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animación slideUp para el formulario */
@keyframes slideUpForm {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Estilos para la superposición del mensaje de éxito */
.contacto-container {
  position: relative;
  overflow: hidden;
}

.overlay-contacto-inicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(100%);
}
.contacto-inicio-form .overlay-contacto-inicio {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.contacto-container.mensaje-enviado .overlay-contacto-inicio {
  animation: slideUp 0.8s forwards;
  animation-delay: 0.5s; /* Retarda la animación para el formulario */
}

.contacto-container.mensaje-enviado .formulario-contacto-efecto {
  animation: slideUpForm 0.8s forwards;
}

.overlay-contacto-inicio h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 500;
}

.overlay-contacto-inicio h2 {
  font-size: 30px;
  font-weight: 50;
  background: #eb5e25;
  color: white;
  padding: 0 45px;
}
.contacto-inicio-form .overlay-contacto-inicio h2 {
  background: #fff;
  color: #000;
}
.form-group input.input-error,
.form-group textarea.input-error {
  border-color: red !important;
}