.community-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center; /* Centrar el texto */
  
}

.community-container-descripcion {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  align-items: center; /* Alinear verticalmente */   
  margin-top: 30px;
}
@media (max-width: 900px) {

  .community-container-descripcion {
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    justify-items: center;
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .community-container {
    padding: 0 25px;
  }
  .community-container h1{
    font-size: 16vw !important; /* El tamaño de la fuente será el 5% del ancho de la ventana */
  }
  .community-container-descripcion {
    max-width: 718px;
    justify-content: center;
  }
  .community-image{
    max-width:350px;
  }
}

.community-image {
  width: 400px;
  height: auto;
  margin: 0 auto; /* Centrar horizontalmente */
  border-radius: 20px;
}

.community-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.community-container h1{
    font-size: 70px;
    font-weight: 600;
    color: #56585e;
    margin-top: 10px;
}
.community-container h2{
    font-size: 25px;
    font-weight: 700;
    color: #ec6833;
    margin-bottom: 10px;
}
.community-container h3{
    font-size: 38px;
    font-weight: 400;
    color: #1d1e20;
    margin-bottom: 10px;
}
.community-container p{
    margin-top: 10px;
    font-size: 19px;
    font-weight: 300;
    color: #707277;
    margin-bottom: 10px;
}

