.btnWhatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: transform 0.2s;
  animation: whatsappAnimation 1s;
}
.btnWhatsapp:hover {
  background-color: #128c7e;
}
@keyframes whatsappAnimation {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }  
}
