/* ContactoInicio.css */
.contacto-inicio-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1250px) {
  .contacto-inicio-container {
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    justify-items: center;
  }
}
@media (max-width: 768px) {
  .contacto-inicio-container {
    max-width: 768px;
    justify-content: center;
  }
  .contacto-inicio-form h1,h2{
    text-align: center;
  }
  .contacto-inicio-form input,
  .contacto-inicio-form textarea {
    width: 100%; /* Asegura que ocupe el 100% del contenedor */
    max-width: 300px; /* Ajusta el max-width para pantallas pequeñas */
    height: 50px; /* Ajusta la altura si es necesario */
    font-size: 15px; /* Ajusta el tamaño de la fuente si es necesario */
    padding: 8px; /* Ajusta el padding si es necesario */
  }
  .contacto-inicio-info {
    padding: 0 50px; /* Ajusta el padding si es necesario */
    max-width: 700px; /* Ajusta el max-width para pantallas pequeñas */
  }
}

.contacto-inicio-info h1 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 50px;
}

.contacto-inicio-info p {
  font-size: 20px;
  font-weight: 300;
  color: #56585e;
  margin-bottom: 30px;
}

.contacto-inicio-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
}

.contacto-inicio-info > * {
  text-align: left; /* Alinear el texto a la izquierda */
  width: 100%; /* Asegurar que los elementos ocupen todo el ancho */
}

.contacto-inicio-form {
  display: flex;
  flex-direction: column;
}

.contacto-inicio-form form {
  display: flex;
  flex-direction: column;
}

.contacto-inicio-form label {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 300;
  width: 100%; /* Asegurar que los labels ocupen todo el ancho */
  text-align: left;
}

.contacto-inicio-form input,
.contacto-inicio-form textarea {
  width: 599px;
  height: 59px;
  padding: 10px;
  font-size: 17px;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.contacto-inicio-form .btn-contact {
  background: #eb5e25;
  color: #fff;
  padding: 14px 25px;
  font-size: 19px;
  font-weight: 300;
  border-radius: 25px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  height: 55px;
  width: 200px;
}

.contacto-inicio-form .btn-contact:hover {
  background-color: #000000;
}

.success-message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
