.growth-hacking-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.growth-hacking-text h2 {
  font-size: 25px;
  color: #000000;
}

.growth-hacking-text-content p {
  margin-top: 10px;
  font-size: 19px;
  font-weight: 300;
  color: #707277;
  margin-bottom: 10px;
}

.growth-hacking-content {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 1rem;
  gap: 5rem; /* Aumentar el gap entre columnas */
}

.growth-hacking-content.image-left {
  flex-direction: row-reverse; /* Imagen a la izquierda, texto a la derecha */
}

.growth-hacking-content.image-right {
  flex-direction: row; /* Imagen a la derecha, texto a la izquierda */
}

@media (max-width: 1250px) {
  .growth-hacking-content {
    display: block; /* Cambiar a diseño de bloque */
    text-align: center; /* Centrar el contenido */
    padding: 0 40px;
  }

  .growth-hacking-text-content,
  .growth-hacking-image-container {
    margin-bottom: 40px; /* Espacio entre los elementos */
  }
  .growth-hacking-text-content {
    margin: 0 auto; /* Centrar el contenedor de texto */
  }
}

.growth-hacking-text-content {
  text-align: justify;
  max-width: 400px;
}

.growth-hacking-image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.growth-hacking-img {
  max-width: 100%;
  height: 300px;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out; /* Transición suave */
}

.growth-hacking-img:hover {
  transform: scale(1.1);
}

.growth-hacking-video-container {
  position: absolute;
  top: 20px; /* Ajustar para considerar el padding */
  left: 20px; /* Ajustar para considerar el padding */
  right: 20px; /* Ajustar para considerar el padding */
  bottom: 24px; /* Ajustar para considerar el padding */
  justify-content: center;
  align-items: center;
  border-radius: 15px; /* Bordes redondeados igual que la imagen */
  overflow: hidden; /* Asegurar que el video se recorte dentro del contenedor */
}

.growth-hacking-video {
  width: 100%;
  object-fit: cover; /* Asegura que las imágenes se muestren completas dentro de las tarjetas */
  height: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transición suave */
  opacity: 0;
}

.switch-container {
  position: absolute;
  top: -60px; /* Ajustar para posicionar el switch arriba de la imagen */
  display: none; /* Ocultar por defecto */
}

.growth-hacking-image-container .switch-container {
  margin-top: 25px;
  display: flex; /* Mostrar cuando esté dentro del contenedor de la imagen */
  width: 250px;
  height: 55px;
  background-color: #e0e0e0;
  border-radius: 25px;
  cursor: pointer;
}

.switch {
  width: 150px;
  height: 55px;
  background-color: #eb5e25;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  position: absolute;
  transition: transform 0.3s ease;
  font-size: 25px;
}

.switch.ux {
  transform: translateX(0);
}

.switch.ui {
  transform: translateX(100px);
}

.disenio-ux-ui-page .growth-hacking-img {
  margin-top: 25px;
}
/* Nueva clase para la animación de deslizamiento y desvanecimiento */
.slide-in {
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.85s ease-in-out;
}

.slide-in.show {
  clip-path: inset(0 -100% 0 0);
}

/* Nueva regla para pagina-web-page */
.pagina-web-page .growth-hacking-img {
  transition: opacity 0.5s ease-in-out; /* Transición suave para la opacidad */
}

.pagina-web-page .growth-hacking-image-container:hover .growth-hacking-img {
  opacity: 0.8; /* Más opaca al hacer hover */
}

.pagina-web-page .growth-hacking-image-container:hover .growth-hacking-video {
  opacity: 0.8; /* Mostrar parcialmente el video al hacer hover */
  pointer-events: auto; /* Permitir la interacción con el video */
}

/* Branding Digital */
.branding-digital-page-efecto .growth-hacking-image {
  position: relative;
  overflow: hidden; /* Asegura que el contenido no se desborde */
  padding: 0px;
  border-radius: 15px;
}

.branding-digital-page-efecto .growth-hacking-image img {
  transition: transform 0.8s ease; /* Transición suave para el efecto de subir */
}

.branding-digital-page-efecto .growth-hacking-image .overlay-branding {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #57595b; /* Fondo negro */
  color: white; /* Color del texto */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
  transform: translateY(102%); /* Inicialmente oculta fuera de la vista */
  transition: transform 0.8s ease; /* Transición suave para el efecto de subida */
  border-radius: 15px;
}

.branding-digital-page-efecto .growth-hacking-image .overlay-branding h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 900;
  padding: 0 50px; /* Reducir el padding para que el borde esté más pegado al texto */
}

.branding-digital-page-efecto .growth-hacking-image .overlay-branding h2 {
  font-size: 30px;
  font-weight: 100;
  background: white;
  color: black;
  padding: 0 45px;
}

.branding-digital-page-efecto .growth-hacking-image:hover img {
  transform: translateY(-100%); /* Sube la imagen */
}

.branding-digital-page-efecto .growth-hacking-image:hover .overlay-branding {
  transform: translateY(0%); /* Sube el fondo negro */
}

/* Estilo específico para la vista /servicios/publicidaddigital */
.publicidad-digital-page .growth-hacking-image {
  z-index: -1; /* Valor menor que el del icono */
  pointer-events: none; /* Desactiva los eventos del puntero */
}

.publicidad-digital-page .growth-hacking-image img {
  pointer-events: auto; /* Reactiva los eventos del puntero para la imagen */
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-7deg);
  }
  25% {
    transform: rotate(-14deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  75% {
    transform: rotate(-14deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
@media (max-width: 768px) {
  .publicidad-digital-page .growth-hacking-image img {
    margin-top: 20px;
  }
  .growth-hacking-page .growth-hacking-image img{
    margin-top: 10px;
    height: 57vw;
  }
  .disenio-ux-ui-page .switch-container{
    margin-top: 70px;
  }
  .disenio-ux-ui-page .growth-hacking-image img{
    margin-top: 80px;
    height: 50vw;
  }
  .disenio-packaging-page .growth-hacking-image img{
    height: 65vw;
  }
}
