.servicios-incluidos-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
  align-items: center; /* Centrar horizontalmente */
}
.servicios-incluidos-title {
  color: rgb(0, 0, 0);
}

.servicios-incluidos-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Columnas automáticas con un mínimo de 200px */
  gap: 2rem; /* Espacio entre columnas y filas */
  padding: 1rem;
  grid-auto-rows: auto; /* Altura automática de las filas */
}
@media (max-width: 768px) {
  .servicios-incluidos-container {
    margin: 0 5px !important;
  }
}
.servicio-item {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  height: 145px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  font-size: 20px;
  font-weight: 650;
  color: #57595d;
  transition: transform 0.5s ease-in-out; /* Transición suave */
}

.servicio-item:hover {
  transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
  background: #eb5e25; /* Degradado de blanco a #eb5e25 */
  color: #fff;
}
