.ubication-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: #ffffff;
}


.ubication-content {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.ubication-text {
  flex: 1;
  margin-right: 70px; 
  margin-bottom: 60px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6; 
}
@media (max-width: 1000px) {
  .ubication-content {
    flex-direction: column;
    padding: 30px;
  }
  .ubication-map{
    width: 100%;
  }
  .map{
    height: 400px;
    width: 100%;
  }
}

.ubication-map {
  flex: 2; 
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ubication-text h1 {
  font-size: 60px;
  font-weight: 500;
}
.ubication-text p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
  }
