.programs {
  margin: 6.5rem 0;
  justify-content: center;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.programs h1 {
  margin-top: 10px;
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
  color: #eb5e25;
  font-weight: 500;
}

.programs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.program {
  width: 240px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.program.animate {
  opacity: 1;
  transform: translateY(0);
}

.program-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  mask-image: url("../../assets/blob.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
}

.program-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s;
  mask-image: url("../../assets/blob.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
}

.program-info h2 {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.program:hover .program-info {
  opacity: 1;
  transition: opacity 0.6s;
}

.program-info i {
  color: white;
  font-size: 2rem;
  margin-top: 10px;
}

@media (max-width: 1250px) {
  .programs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
    justify-items: center;
  }
}
